<!doctype html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Dashboard</title>

        {# CSS from assets #}
        {% assets filters="cssmin", output="cache/all.css",
            "css/common/reset.css",
            "css/common/bootstrap.css",
            "css/common/bootstrap-theme.css",
            "css/dashboard/base.css",
            "css/dashboard/widgets.css"
        %}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets %}
    </head>

    <body ng-app="widgetboard" class="container">
        {% block content %}{% endblock %}

        {# JS from assets #}
        {% assets filters="jsmin", output="cache/all.js",
            "js/common/angular.js",
            "js/common/underscore.js",
            "js/dashboard/widgets.js",
            "js/dashboard/base.js"
        %}
            <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
