{% extends "base.html" %}

{% block content %}
{% raw %}
<div ng-controller="Dashboard">
    <div class="page-header">
        <h1>My Dashboard</h1>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="thumbnail">
            <h4>Random image</h4>
            <random-image data-src="http://demo.marcofolio.net/php_random_image_rotation/rotate.php" listen-to="random-image"></random-image>
            <action-button touch-event="random-image" label="Send event" extra-class="btn-success"></button>
        </div>

        <div class="thumbnail">
            <h4>Status bar</h4>
            <status-bar listen-to="status-service"></status-bar>
        </div>

        <div class="thumbnail">
            <h4>Buttons</h4>
            <action-button action="/events" label="Events"></action-button>
        </div>
    </div>

    <div class="col-lg-8 col-md-6">
        <div class="thumbnail">
            <h4>Hosts</h4>
            <key-value listen-to="hosts-status"></key-value>
        </div>

        <div class="thumbnail">
            <h4>System info</h4>

            <pre listen-to="server-status">{{ message }}</pre>
            <pre listen-to="disk-usage">{{ message }}</pre>
        </div>
    </div>
</div>
{% endraw %}
{% endblock %}
