.list-group-item {
    overflow: hidden;
}

.thumbnail {
    overflow: hidden;
    opacity: 0.8;
    margin-bottom: 20px;
}

.progress {
    height: 18px;
}

.random-text-message {
   min-height: 60px;
   border-radius: 3px;
   font-size: 12px;
   font-family: monospace;
   letter-spacing: -1px;
}

#server-status .random-text-message {
   font-size: 10px;
   letter-spacing: -2px;
}
