.jqstooltip {
    border: none !important;
    height: 15px;
    width: 50px;
    height: 36px;
    border-radius: 2px;
    font-family: monospace !important;
}


[data-type="ImageVideo"] canvas {
    margin-bottom: -5px;
}
